{% extends 'base.html' %}


{% block body %}

    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style/login.css' %}" />

    <div class="Container sign-up-mode ">
      <div class="forms-Container">
        <div class="signin-signup">

          <form action="" method="post" class="sign-up-form ">
              {% csrf_token %}

            <h2 class="title">Sign up</h2>

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Username" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Email" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password1" placeholder="Password" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password2" placeholder="Conform Password" required />
            </div>

            <input type="submit" class="button" value="Sign up" />
            <p class="social-text">Or Sign up with social platforms</p>

            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>

          </form>
          
        </div>
      </div>

      <div class="panels-Container">
        <div class="panel left-panel">
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <button class="button transparent" id="sign-in-btn" onclick="location.href='/signin'">
              Sign in
            </button>
          </div>
          <img src="{% static 'img/register.svg' %}" class="image" alt="" />
        </div>
      </div>
    </div>


{% endblock body %}
